name: Docs Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install MkDocs + dependencies
        run: |
          pip install mkdocs mkdocs-material
          pip install -r requirements.txt

      - name: Build docs
        run: mkdocs build --strict

      - name: Check links with lychee
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress --exclude 'fonts.gstatic.com' './site/**/*.html'
          fail: true

  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Spell Check
        uses: streetsidesoftware/cspell-action@v2
        with:
          files: "docs/**/*.md"
          incremental_files_only: false

  vale-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Vale
        uses: errata-ai/vale-action@v2
        with:
          styles: .vale-styles
          config: .vale.ini
          files: docs/
